<header class="navbar navbar-dark topHeader">
    <a [routerLink]="['/apps']" class="navbar-brand" style="color: white; text-decoration: none;">
        <img src="/assets/img/angular-logo.png">
    </a>
</header>

<div>
    <div class="center-block">
        <form (ngSubmit)="editApp()" #editForm="ngForm">
            <h3>{{'Edit App' | translate}}</h3>
            <br />
            <br />
            <br />

            <input type="text" [(ngModel)]="formModel.name" name="name" class="form-control" placeholder="{{'App Name'| translate}}" required="true" autocomplete="off" autofocus/>
            <br />

            <input type="text" [(ngModel)]="formModel.description" name="description" class="form-control" placeholder="{{'App Description'| translate}}" required="true" autocomplete="off" autofocus/>
            <br />

            <!--<tag-input name="tags" [(ngModel)]="formModel.tags" [placeholder]="'Enter tags'" [secondaryPlaceholder]="'+ Tag'" [separatorKeys]="[4, 5, 188]"></tag-input>-->
            <br />

            <button type="submit" class="btn btn-primary btn-block">{{'Save App' | translate}}</button>

        </form>
        <br />
        <br />

    </div>
</div>