:host /deep/ {
	.password-composer {
		text-align: left;

		.ng-error {
			color: #d9534f;
		}
	}

	.Box {
		list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 0;

		li {
	    padding: 16px;
	    margin-top: -1px;
	    list-style-type: none;
	    border-top: 1px solid #eee;

	    &:first-child {
	    	border-top-color: transparent;
		    border-top-left-radius: 2px;
		    border-top-right-radius: 2px;
	    }
		}
	}

	#social {
		i:first-child {
			transition: all .25s ease;
		}

		i:last-child {
			color: #FFF;
		}

		a.btn-primary {
			color: #fff;
		}

		.note {
	    display: block;
	    margin: 0 50px 0 32px !important;
	    font-size: 12px !important;
	    font-weight: normal;
	    color: #666;
		}
	}

	#social .fb_connect > span > i:first-child {
		color: #3B5998;
	}
	#social .go_connect > span > i:first-child {
		color: #D34836;
	}
	#social .tw_connect > span > i:first-child {
		color: #4099FF;
	}
	#social .ln_connect > span > i:first-child {
		color: #0077B5;
	}
	#social .gh_connect > span > i:first-child {
		color: #333333;
	}
	#social .bb_connect > span > i:first-child {
		color: #205081;
	}

	#social .inactive > span > i:first-child {
		color: #758997;
	}
}