<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <a *ngIf="isMe" [routerLink]="['/settings/profile']" class="vcard-avatar d-block">
        <img alt="" class="avatar" src="{{profile.photo}}">
      </a>

      <a *ngIf="!isMe" class="vcard-avatar d-block">
        <img alt="" class="avatar" src="{{profile.photo}}">
      </a>

      <div class="vcard-names-container">
        <h1 class="vcard-names">
          <span class="vcard-fullname d-block" itemprop="name">{{profile.name}}</span>
          <span *ngIf="config.login.username" class="vcard-username d-block" itemprop="additionalName">{{profile.username}}</span>
        </h1>
      </div>

      <a *ngIf="isMe" [routerLink]="['/settings/profile']">{{'Edit profile' | translate}}</a>
    </div>

    <div class="col-sm-9">
      
    </div>
  </div>
</div>