:host {
	display: block;
  font-size: 14px;
  
  a {
    color: #4078c0;
    text-decoration: none;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  .container {
    padding-top: 100px;
  }

  .avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
    width: 100%;
  }

  .vcard-names-container {
    padding-top: 16px;
    padding-bottom: 16px;

    .vcard-names {
      line-height: 1;

      .vcard-fullname {
        font-size: 26px;
        line-height: 30px;
      }

      .vcard-username {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        color: #666;
      }
    }
  }
}