<div class="row">
    <div class="col-sm-4" *ngFor="let organization of organizations$ | async">

        <div *ngIf="organization">
            <i class="fa fa-times fa-lg" (click)="selectedOrganization = organization; showChildModal(organization)"></i>

            <a [routerLink]="['/organizations', organization.id]">

                <h3>{{ organization.name }}</h3>

                <p>{{ organization.description }}</p>
            </a>
        </div>

    </div>

    <a class="add-button" [routerLink]="['create']"><i class="fa fa-plus fa-lg"></i></a>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title">{{ selectedOrganization.name }}</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger" (click)="deleteOrganization(selectedOrganization); hideChildModal()">
          {{'Delete Organization' | translate}}
        </button>
            </div>
        </div>
    </div>
</div>