<div class="Subhead">
  <h2 class="Subhead-heading">{{'Public profile' | translate}}</h2>
</div>

<form (ngSubmit)="submitUpdate()" #profileForm="ngForm">

  <dl *ngIf="!config.settings.usePhotoUpload" class="profile-avatar float-right">
    <img alt="@{{formModel.username || formModel.name}}" class="avatar" [src]="formModel.photo?.url || formModel.photo || config.logo">
  </dl>

  <file-uploader *ngIf="config.settings.usePhotoUpload"
    type="profile"
    title="Profile picture"
    uploadButton="Upload new picture"
    uploadingButton="Uploading"
    [autoUpload]="true"
    [currentFile]="formModel.photo?.url || config.logo"
    [fileNameRewrite]="fileNameRewrite"
    [getUploadUrl]="getUploadUrl"
    [onCompleteItem]="onUploadComplete"
    class="profile-avatar float-right"></file-uploader>

  <div>
    <dl class="form-group">
      <dt><label for="name">{{'Name' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="formModel.name" required>
      </dd>
    </dl>

    <dl *ngIf="!config.settings.usePhotoUpload" class="form-group">
      <dt><label for="photo">{{'Photo Url' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="photo" name="photo" [(ngModel)]="formModel.photo">
      </dd>
    </dl>

    <dl *ngIf="config.settings?.login?.username" class="form-group">
      <dt><label for="username">{{'Username' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="username" name="username" [(ngModel)]="formModel.username">
      </dd>
    </dl>

    <p><button type="submit" class="btn btn-primary" [disabled]="!profileForm.form.valid">{{'Update profile' | translate}}</button></p>
  </div>
</form>
