logs
*.log
pids
*.pid
*.seed
lib-cov
build
.DS_Store
node_modules
bower_components
npm-debug.log
coverage
typings
*.webpack.json

doc
docker-compose.yml
src
config
.github
.git
electron
nativescript
desktop
