<app-header></app-header>

<app-alert></app-alert>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <nav class="menu">
        <span class="menu-heading">{{'Personal settings' | translate}}</span>

        <a routerLink="/settings/profile" class="menu-item" routerLinkActive="active">{{'Profile' | translate}}</a>
        <a routerLink="/settings/account" class="menu-item" routerLinkActive="active">{{'Account' | translate}}</a>
        <a routerLink="/settings/emails" class="menu-item" routerLinkActive="active">
          {{'Emails' | translate}}
          <svg *ngIf="needToVerifyEmail" aria-hidden="true" class="octicon octicon-alert menu-warning" height="16" title="You have not verified any email addresses" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path></svg>
        </a>
        <a routerLink="/settings/notifications" class="menu-item" routerLinkActive="active">{{'Notifications' | translate}}</a>
        <a routerLink="/settings/billing" class="menu-item" routerLinkActive="active">{{'Billing' | translate}}</a>
        <a routerLink="/settings/organizations" class="menu-item" routerLinkActive="active">{{'Organizations' | translate}}</a>
      </nav>

      <nav *ngIf="config.settings?.oauth" class="menu">
        <span class="menu-heading">{{'Developer settings' | translate}}</span>

        <a routerLink="/settings/applications" class="menu-item" routerLinkActive="active">{{'OAuth Applications' | translate}}</a>
      </nav>

      <nav *ngIf="currentUser.organizations.length" class="menu">
        <span class="menu-heading">{{'Organization settings' | translate}}</span>

        <a class="menu-item"
          *ngFor="let org of currentUser.organizations"
          routerLink="/organizations/{{org.id}}/settings">

          <img alt="@{{org.displayName}}" class="avatar org-avatar" height="20" [src]="org.logo?.url || org.logo || config.logo" width="20" />
          {{org.displayName}}
        </a>
      </nav>
    </div>

    <div class="col-sm-9 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>