<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <nav class="menu">
        <span class="menu-heading">{{'Personal settings' | translate}}</span>

        <a routerLink="/settings/profile" class="menu-item" routerLinkActive="active">{{'Profile' | translate}}</a>
        <a routerLink="/settings/account" class="menu-item" routerLinkActive="active">{{'Account' | translate}}</a>
        <a routerLink="/settings/emails" class="menu-item" routerLinkActive="active">{{'Emails' | translate}}</a>
        <a routerLink="/settings/linkedAccounts" class="menu-item" routerLinkActive="active">{{'Linked Accounts' | translate}}</a>
        <a routerLink="/settings/notifications" class="menu-item" routerLinkActive="active">{{'Notifications' | translate}}</a>
        <a routerLink="/settings/billing" class="menu-item" routerLinkActive="active">{{'Billing' | translate}}</a>
      </nav>
    </div>

    <div class="col-sm-9 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>