<h1>Style Guide</h1>

<hr>

<h2>Top Bar</h2>
<app-social-network-top-bar></app-social-network-top-bar>

<hr>

<h2>Profile Header</h2>

<app-social-network-profile-header></app-social-network-profile-header>

<hr>

<h2>Profile Side</h2>

<app-social-network-profile-side></app-social-network-profile-side>

<hr>

<h2>Profile Preview</h2>


<h3>For self</h3>
<app-social-network-profile-preview></app-social-network-profile-preview>

<h3>For others</h3>
<app-social-network-profile-preview></app-social-network-profile-preview>

<hr>

<h2>Post</h2>
<app-social-network-post></app-social-network-post>

<hr>

<h2>Post Creator</h2>
<app-social-network-post-creator></app-social-network-post-creator>


