:host /deep/ {
	min-height: 100vh;

  > header {
    position: absolute;
    padding: 15px 0 0;
    z-index: 100;
    /*background-color: rgba(48,48,56,0.1);*/
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    -webkit-font-smoothing: antialiased;

    .logo {
      height: 40px;
      padding-top: 0;
  
      h2 {
        font-weight: 600;
        max-height: 100%;
      }

      img {
        max-height: 100%;
        height: 50px;
      }
    }

    > .container div.pull-right {
      padding-top: 16px;
    }

    nav {
    	> ul > li {
	    	> a.nav-link {
		      background: rgba(255, 255, 255, .8);
		      border: 1px solid rgba(255, 255, 255, 0);
		      color: #3862b4;
		      padding-left: 24px;
		      padding-right: 24px;
		      border-radius: 50px;
		      text-decoration: none;
		      font-size: 16px;
		      font-weight: 400;
		      margin-bottom: 6px;
		      margin-top: 8px;
		      margin-left: 8px;
		      white-space: nowrap;
		      cursor: pointer;
		      transition: all .25s ease;

		      &:hover {
		        background: rgba(255, 255, 255, .3);
		        border: 1px solid rgba(255, 255, 255, .3);
		        color: #FFF;
		      }

		      img {
		      	border-radius: 20px;
		      	margin-left: -24px;
		      	margin-right: 6px;
		      }

		      .fa-user {
		      	margin-left: -8px;
		      	margin-right: 6px;
		      }

          &.router-link-active {
            border: 1px solid #3862b4;
          }

          &.highlight {
            background: #de6551;
            border: 1px solid rgba(255, 255, 255, 0);
            color: white;

            &:hover {
              background: rgba(222, 101, 81, 0.8);
              border: 1px solid rgba(255, 255, 255, 0);
              color: white;
            }
          }
		    }

		    > ul {
	        width: 100%;
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        background: none;
		      border: 0px solid rgba(255, 255, 255, .8);
		      border-radius: 19px;
	        max-height: 300px;
	        overflow-y: auto;

	        li {
	          margin-top: 0;
	          padding: 0;
	          background: rgba(255, 255, 255, .8);
	          transition: all .25s ease;

	          a {
	            width: 100%;
	            height: 40px;
	            line-height: 40px;
	            display: block;
	            color: #2d2d2d;
	            overflow: hidden;
	            white-space: nowrap;
	            text-decoration: none;
	            text-overflow: ellipsis;
	            padding: 0 10px;
	            font-weight: 300;
	            cursor: pointer;
	            transition: all .25s ease;

	            &:hover {
	              color: white;
	            }

	            i {
	              width: 20px;
								text-align: center;
								margin-right: 3px;

	            }
	          }

	          &.divider {
	            border-top: 1px solid #2d2d2d;
	            margin: 0;
	          }

	          &:hover {
	            background: rgba(255, 255, 255, .3);
	          }
	        }
	      }
	    }
	  }
  }

  .background {
    width: 100%;
    height: 100%;

    .backgroundContainer {
      position: absolute;
    }
  }
}
