<div class="background"></div>
<div class="container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="main" [scrollSpyIndex]="{id: 'legal', selector: 'anchor'}">
				<h2 id="privacyPolicy" class="anchor">Privacy Policy</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<p>Reality Connect, Lda. (RC), responsible for Cloudstem, values ​​the privacy of Users of the Site and undertakes to respect it, ensuring confidentiality and data protection.</p>

				<p>Safety and privacy is assured to all Users. All data collected will be processed fairly and lawfully and will only be solicited relevant and necessary data to deliver the service.</p>

				<p>The User will have full freedom to access, rectify and remore its data for free.</p>

				<p>The collected data will be kept accurate and current.</p>

				<p>Cloudstem shall ensure the existence and operation of security mechanisms that prevent access, modification, destruction or introduction of data by anyone not authorized to do so.</p>

				<h3 id="privacyPolicy-data" class="anchor">Collection of personal data</h3>

				<p>The Cloudstem site and some of its pages can be viewed without the need to provide any personal information, however, some areas (including the insertion of ads) require the transfer of information, being necessary for the User to provide relevant personal data to make use of the service.</p>

				<p>The collection of data identifying the User will be accomplished by completing an online registration form and according to the strictest safety regulations, respecting the following terms:</p>

				<ul>
					<li>By registering with Cloudstem, the User provides personal data necessary for the provision of services, including name, email address and telephone number;</li>

					<li>By accepting the reception of notifications and information related to Imoglove from RC or third party partners, the User accepts to provide the necessary personal data;</li>

					<li>The collected data will be treated and processed automatically, as approved by the Comissão Nacional de Protecção de Dados (CNPD);</li>

					<li>RC ensures to registered Users the ability to access, update and rectify its personal data through a personal page or by request via email, in accordance with Portuguese Law n.º 67/98 of 26 October;</li>

					<li>The User session in Cloudstem may be recorded in order to be analyzed anonymously for statistics and site usage purposes with a view to continuous improvement of service levels and User satisfaction;</li>

					<li>Cloudstem may use third party partners to carry out advertising activities and monitoring marketing communications;</li>

					<li>Third parties, including Google, Facebook, Twitter or Linkedin, may display ads from Cloudstem on their websites;</li>

					<li>Third parties, including Google, Facebook, Twitter or Linkedin, may use cookies (such as Google Analytics and DoubleClick) used to optimize ads based on information from past visits from Users in the Cloudstem site.</li>
				</ul>

				<h3 id="privacyPolicy-other" class="anchor">Other services</h3>

				<p>Other services that require data input by Users, other than the ones describes in these Terms and Conditions of Service, are covered by our Privacy Policy and Personal Data Collection.</p>

				<h3 id="privacyPolicy-safety" class="anchor">Safety and Quality of information</h3>

				<p>Cloudstem ensures the quality and integrity of the information provided by its Users, implementing technological and organizational measures to keep information secure, accurate, current and complete.</p>

				<h3 id="privacyPolicy-sharing" class="anchor">Sharing personal information</h3>

				<p>The personal information collected is used by Cloudstem to enable the delivery of online classified ads service in order to allow communication of intentions to purchase, sell, rent, exchange or transfer of property, and issuing invoice and proof of payment when required.</p>

				<p>Personal information may be used by Cloudstem for the purpose of sharing ads and business between RC network sites and preferred partners, provided the User expressly accepts it.</p>

				<p>Cloudstem may provide personal data related to its Users accounts to regulators and other legal enforcement entities, whenever they are requested by these entities as a result of investigations into illegal, fraudulent and/or infringement of industrial or intellectual property rights.</p>

				<p>Cloudstem may also authorize the use of such information by other companies and organizations for marketing campaigns, provided that the User gives previous express consent.</p>

				<h3 id="privacyPolicy-links" class="anchor">Links</h3>

				<p>Cloudstem contains links to other sites and is not responsible for the privacy practices or content of such websites.</p>

				<h3 id="privacyPolicy-statistics" class="anchor">Statistical monitoring files</h3>

				<p>IP addresses of all connections made to Cloudstem may be recordes to perform statistical analyzes, provided that the User give its express consent.</p>

				<p>The information will be analyzed anonymously and aggregated.</p>

				<p>The analyzed information retrieved from aggregate statistical data allow us to interpret the usage patterns in order to continuously improve our services and User satisfaction levels.</p>

				<p>This data may be disclosed to third parties or made public.</p>

				<h3 id="privacyPolicy-changes" class="anchor">Changes to privacy practices</h3>

				<p>Any changes to our current privacy pratices described in these Terms and Conditions of Service will always be made available at this location.</p>

				<p>The User can contact Cloudstem at any time.</p>

				<p>In case of questions or interest in sharing opinions about this Privacy Policy, please use the following e-mail: admin(at)Cloudstem.com.</p>

				<h2 id="cookiesPolicy" class="anchor">Cookies Policy</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<h3 id="cookiesPolicy-what" class="anchor">What are cookies?</h3>

				<p>Cookies are files that have small pieces of information that is downloaded from your device when you visit a website.</p>

				<h3 id="cookiesPolicy-whatfor" class="anchor">What are the cookies for?</h3>

				<p>They help a Website to memorize information about your visit, such as your preferred language and other settings. This can facilitate your next visit and make the website more useful to you. Cookies play an important role. Without them, using the Web would be a much more frustrating experience. Cookies enhance the efficiency of navigation on websites. You've probably added an article in a shopping cart in an online store and after a few days, returning to the website, found that the article was still in your cart? This is one of the examples of the use of cookies.</p>

				<h3 id="cookiesPolicy-why" class="anchor">Why do we use cookies?</h3>

				<p>The use of cookies is common on the Internet and does not harm Users' computers. Cookies perform various functions, including assisting those responsible for the website to realize how it is used, facilitating the respective navigation, saving your preferences, and in general improving your User experience, as helping to ensure that the website shows you relevant content.</p>

				<h3 id="cookiesPolicy-whatkind" class="anchor">What kind of cookies do we use?</h3>

				<p>Cloudstem uses the following types of cookies: Permanent cookies - are cookies that are stored on your browser (PC, mobile and tablet) and are used whenever you make a new visit to one of our websites. Session cookies - these are temporary cookies that remain in the cookie file of your browser until you leave the website. The information obtained from these cookies is used to analyze traffic patterns on the Web, allowing us to identify problems and provide a better browsing experience.</p>

				<p>Cookies are also used from our partners including Google, Facebook, Twitter or Linkedin for similar purposes such as to store User session information regarding services provided by these partners.</p>

				<h2 id="contacts" class="anchor">Contacts</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<p>We invite you to contact us with questions or to share your opinions by sending us an e-mail to: support(at)cloudstem.io; a letter to: Rua António Saúde nº7, 1500-048 Lisboa, Portugal; or calling at: +351 916 002 675.</p>

				<br>
				<br>
				<br>
				<br>

			</div>
		</div>

		<div class="col-md-3" role="complementary">
			<scrollSpy-index-render [scrollSpyIndexRenderOptions]="{id: 'legal', spyId: 'window', topMargin: 90}" [scrollSpyAffix]="{topMargin: 70, bottomMargin: 70}" class="hidden-print hidden-xs hidden-sm"></scrollSpy-index-render>
		</div>
	</div>
</div>