<div class="landing">
    <!--<div class="background" trianglify-effect="{effect: ['scaleIn', 'hoverOpacity']}">-->
    <div class="background">
        <div class="container hero">
            <!--<h1>DATACENTER MANAGEMENT PLATFORM</h1>-->
            <h1>
                <img src="/assets/img/angular-logo.png">
            </h1>

            <br>
            <br>
            <br>

            <!--<a class="btn btn-lg btn-default btn-blue clip" href="http://eepurl.com/bFhnv5">{{'Sign up for early access' | translate}}</a>-->
        </div>
    </div>

</div>