<div class="Subhead">
  <h2 class="Subhead-heading">{{'Register a new OAuth application' | translate}}</h2>
</div>

<form (ngSubmit)="newApp()" #newOAuthAppForm="ngForm">
  <dl class="profile-avatar float-right">
    <img *ngIf="formModel.photo" alt="@{{formModel.username || formModel.name}}" class="avatar" [src]="formModel.photo">
    <img *ngIf="!formModel.photo" alt="" class="avatar" [src]="config.logo">
  </dl>

  <div>
    <dl class="form-group">
      <dt><label for="name">{{'Application name' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="formModel.name" required>
        <p class="note">{{'Something users will recognize and trust' | translate}}</p>
      </dd>
    </dl>

    <dl class="form-group">
      <dt><label for="clientURI">{{'Homepage URL' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="clientURI" name="clientURI" [(ngModel)]="formModel.clientURI" required>
        <p class="note">{{'The full URL to your application homepage' | translate}}</p>
      </dd>
    </dl>

    <dl class="form-group">
      <dt><label for="logo">{{'Application Logo URL' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="logo" name="logo" [(ngModel)]="formModel.logo">
      </dd>
    </dl>

    <dl class="form-group">
      <dt><label for="description">{{'Application description' | translate}}</label></dt>
      <dd>
        <textarea class="form-control short" cols="40" id="description" name="description" [(ngModel)]="formModel.description" placeholder="{{'Application description is optional' | translate}}" rows="20" tabindex="4"></textarea>
        <p class="note">{{'This is displayed to all potential users of your application' | translate}}</p>
      </dd>
    </dl>

    <dl class="form-group">
      <dt><label for="redirectURIs">{{'Authorization callback URLs' | translate}}</label></dt>
      <dd>
        <input class="form-control" type="text" id="redirectURIs" name="redirectURIs" [(ngModel)]="formModel.redirectURIs" required>
        <p class="note">{{'Your application’s callback URL. Read our' | translate}} <a routerLink="/docs/oauth" target="_blank">{{'OAuth documentation' | translate}}</a> {{'for more information' | translate}}.</p>
      </dd>
    </dl>
    
    <hr class="form-hr">

    <p>
      <button type="submit" class="btn btn-primary mr-1" tabindex="5" [disabled]="!newOAuthAppForm.form.valid">{{'Register application' | translate}}</button>
      <a routerLink="/settings/applications" class="btn btn-invisible">{{'Cancel' | translate}}</a>
    </p>
  </div>
</form>
