:host {
  // @import '~bootstrap/_variables.scss';
  // @import '~bootstrap/_mixins.scss';

  footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 70px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;

    &::before {
      display: table;
      content: "";
    }

    > div {
      a, span {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    > a {
      img {
        max-height: 40px;
        filter: grayscale(100%);
        opacity: 0.5;
        position: absolute;
        top: 38px;
        left: 50%;
        margin-left: -18px;
        margin-top: -15px;
      }
    }
  }
}