// Who:
$WhoDarker: #1976D2;
$WhoLighter: #2196F3;

// When:
$WhenDarker: #D32F2F;
$WhenLighter: #F44336;

// Where:
$WhereDarker: #689F38;
$WhereLighter: #8BC34A;

// Why:
$WhyDarker: #FFA000;
$WhyLighter: #FFC107;

// What:
$WhatDarker: #7B1FA2;
$WhatLighter: #9C27B0;

// Other/Blank:
$OtherDarker: #616161;
$OtherLighter: #9E9E9E;