<header>
  <div class="container-fluid">
    <nav class="navbar">
      <a [routerLink]="['/']" class="navbar-brand logo">
        <h2 style="margin: 0 7px 8px;">
          <img src="{{config.logo}}">
          <!--<img [ctSrc]="config.logo" ctSize="32x32">-->
        </h2>
      </a>

      <ul class="nav navbar-nav float-xs-right">
        <li *ngIf="config.links?.blog" class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['/about']">{{'About' | translate}}</a>
          <a href="{{config.links.blog}}">{{'Blog' | translate}}</a>
				</li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apps']">{{'Go to App' | translate}}</a>
        </li>
        
        <user-menu></user-menu>
      </ul>
    </nav>
  </div>
</header>