<div class="form-block">
	<form *ngIf="!submited" (ngSubmit)="recover()" #recoverForm="ngForm">
		<h4>{{'Reset your password' | translate}}</h4>
		<br>

		<p>{{'If you have forgotten your password, we will send you an email to reset your password.' | translate}}</p>

		<input [(ngModel)]="formModel.email" name="email-recover" class="form-control" type="email" placeholder="{{'Account email address' | translate}}" required="true"/>
		<br>

		<button type="submit" class="btn btn-primary btn-block" [disabled]="!recoverForm.form.valid">{{'Continue' | translate}}</button>

	</form>

	<div *ngIf="submited">
		<h4>{{'Check your inbox' | translate}}</h4>

		<p>{{'We are sending a password reset link...' | translate}}</p>

		<a [routerLink]="['/']" class="btn btn-primary btn-block">{{'Home' | translate}}</a>
	</div>
</div>