<div class="center-block">
    <form (ngSubmit)="createOrganization()" #createForm="ngForm">
        <h3>{{'Create a new Organization' | translate}}</h3>
        <br />
        <br />
        <br />

        <input type="text" [(ngModel)]="formModel.name" name="name" class="form-control" placeholder="{{'Organization Name'| translate}}" required="true" autocomplete="off" autofocus/>
        <br />

        <input type="text" [(ngModel)]="formModel.description" name="description" class="form-control" placeholder="{{'Organization Description'| translate}}" required="true" autocomplete="off" autofocus/>
        <br />

        <button type="submit" class="btn btn-primary btn-block">{{'Create Organization' | translate}}</button>

    </form>
    <br />
    <br />
    <br />
    <br />

</div>