<div class="center-block">
    <form (ngSubmit)="createApp()" #createForm="ngForm">
        <h3>{{'Create a new App' | translate}}</h3>
        <br />
        <br />
        <br />

        <input type="text" [(ngModel)]="formModel.name" name="name" class="form-control" placeholder="{{'App Name'| translate}}" required="true" autocomplete="off" autofocus/>
        <br />

        <input type="text" [(ngModel)]="formModel.description" name="description" class="form-control" placeholder="{{'App Description'| translate}}" required="true" autocomplete="off" autofocus/>
        <br />

        <button type="submit" class="btn btn-primary btn-block">{{'Create App' | translate}}</button>

    </form>
    <br />
    <br />
    <br />
    <br />

</div>