<div class="container">
  <div class="Subhead">
    <h2 class="Subhead-heading">{{'Register a new Organization' | translate}}</h2>
  </div>

  <form (ngSubmit)="newOrganization()" #newOrganizationForm="ngForm">

    <dl *ngIf="!config.settings.usePhotoUpload" class="profile-avatar float-right">
      <img class="avatar" [src]="formModel.logo?.url || formModel.logo || config.logo">
    </dl>

    <file-uploader *ngIf="config.settings.usePhotoUpload"
      type="profile"
      title="Organization logo"
      uploadButton="Upload new image"
      uploadingButton="Uploading"
      [autoUpload]="false"
      [currentFile]="formModel.logo?.url || config.logo"
      [fileNameRewrite]="fileNameRewrite"
      [getUploadUrl]="getUploadUrl"
      [onCompleteItem]="onUploadComplete"
      #fileUploader
      class="profile-avatar float-right"></file-uploader>

    <div>
      <dl class="form-group">
        <dt><label for="name">{{'Organization name' | translate}}</label></dt>
        <dd>
          <input class="form-control" type="text" id="name" name="name" [(ngModel)]="formModel.name" required>
          <p class="note">{{'Something users will recognize and trust' | translate}}</p>
        </dd>
      </dl>

      <dl class="form-group">
        <dt><label for="displayName">{{'Organization display name' | translate}}</label></dt>
        <dd>
          <input class="form-control" type="text" id="displayName" name="displayName" [(ngModel)]="formModel.displayName" required>
        </dd>
      </dl>

      <dl *ngIf="!config.settings.usePhotoUpload" class="form-group">
        <dt><label for="logo">{{'Organization Logo Url' | translate}}</label></dt>
        <dd>
          <input class="form-control" type="text" id="logo" name="logo" [(ngModel)]="formModel.logo">
        </dd>
      </dl>

      <dl class="form-group">
        <dt><label for="description">{{'Organization description' | translate}}</label></dt>
        <dd>
          <textarea class="form-control short" cols="40" id="description" name="description" [(ngModel)]="formModel.description" placeholder="{{'Organization description is optional' | translate}}" rows="20" tabindex="4"></textarea>
        </dd>
      </dl>
      
      <hr class="form-hr">

      <p>
        <button type="submit" class="btn btn-primary mr-1" tabindex="5" [disabled]="!newOrganizationForm.form.valid">{{'Register application' | translate}}</button>
        <a routerLink="/settings/applications" class="btn btn-invisible">{{'Cancel' | translate}}</a>
      </p>
    </div>
  </form>
</div>
