<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <nav class="menu">
        <span class="menu-heading">{{'Contact' | translate}} {{config.name}}</span>

        <a [routerLink]="['/contact']" class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">{{'Get help with' | translate}} {{config.name}}</a>
        <a [routerLink]="['/contact/report-abuse']" class="menu-item" routerLinkActive="active">{{'Report abuse' | translate}}</a>
        <a [routerLink]="['/contact/privacy']" class="menu-item" routerLinkActive="active">{{'Privacy concerns' | translate}}</a>
      </nav>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>