<div class="form-block">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && resetPassword()">
    <h4>{{'Update your password' | translate}}</h4>
    <br>
    
    <div class="form-group"
      *ngIf="!goto"
      [class.has-success]="resetPasswordForm.controls.password.dirty && resetPasswordForm.controls.password.valid"
      [class.has-danger]="resetPasswordForm.controls.password.dirty && !resetPasswordForm.controls.password.valid">

      <input type="password" formControlName="password" name="password" class="form-control" placeholder="{{'Password' | translate}}" required autocomplete="off">

      <div class="password-composer">
        <small class="form-text text-muted">Your password must have:</small>
        <small class="form-text"
          [class.ng-error]="resetPasswordForm.controls.password.dirty && resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.length"
        > - at least 8 characters long</small>
        <small class="form-text"
          [class.ng-error]="resetPasswordForm.controls.password.dirty && resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.numUpper"
        > - at least 1 uppercase character</small>
        <small class="form-text"
          [class.ng-error]="resetPasswordForm.controls.password.dirty && resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.numLower"
        > - at least 1 lowercase character</small>
        <small class="form-text"
          [class.ng-error]="resetPasswordForm.controls.password.dirty && resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.numNums"
        > - at least 1 number</small>
        <small class="form-text"
          [class.ng-error]="resetPasswordForm.controls.password.dirty && resetPasswordForm.controls.password.errors && resetPasswordForm.controls.password.errors.numSpecials"
        > - at least 1 special character</small>
      </div>

    </div>

    <br *ngIf="!goto">
    
    <div class="form-group"
       *ngIf="!goto"
      [class.has-success]="resetPasswordForm.controls.confirmPassword.dirty && resetPasswordForm.controls.confirmPassword.valid"
      [class.has-danger]="resetPasswordForm.controls.confirmPassword.touched && !resetPasswordForm.controls.confirmPassword.valid || resetPasswordForm.hasError('mismatchedPasswords')">

      <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control" placeholder="{{'Confirm Password' | translate}}" required autocomplete="off">
      <div class="form-control-feedback"
        *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.hasError('mismatchedPasswords')">{{'Password mismatch' | translate}}</div>
    </div>

    <br *ngIf="!goto">

    <button *ngIf="!goto" type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">{{'Submit' | translate}}</button>
    <a *ngIf="goto === 'recover'" [routerLink]="['/user/recover-account']" class="btn btn-primary btn-block">{{'Recover Account' | translate}}</a>
    <a *ngIf="goto === 'login'" [routerLink]="['/user/login']" class="btn btn-primary btn-block">{{'Login' | translate}}</a>
  </form>
</div>