<header>
  <div class="header-container">
    <div class="background-picture">
      <a href="https://placeholder.com">
        <img src="http://via.placeholder.com/954x280">
      </a>
    </div>
    <div class="profile-picture">
      <img class="img-circle" src="http://via.placeholder.com/100x100" alt="">
    </div>
    <div class="profile-header-nav">
      <div class="profile-header-nav-container">
        <div class="col">
          <ul class="profile-nav-list">
            <li class="profile-nav-item">
              <a href="">
                <span class="text">Tweets</span>
              </a>
            </li>
            <li class="profile-nav-item">
              <a href="">
                <span class="text">Following</span>
              </a>
            </li>
            <li class="profile-nav-item">
              <a href="">
                <span class="text">Followers</span>
              </a>
            </li>
            <li class="profile-nav-item">
                <a href="">
                  <span class="text">Likes</span>
              </a>
            </li>
            <li class="profile-nav-item">
                <a href="">
                  <span class="text">Lists</span>
              </a>
            </li>
            <li class="profile-nav-item">
                <a href="">
                  <span class="text">Moments</span>
              </a>
            </li>
            <li class="profile-nav-item col-1">
              <button class="round-button">Edit profile</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<p>
  social-network-profile-header works!
</p>