<nav class="global-nav">
  <div class="global-nav-container container">
    <div class="global-nav-row row">
      <div class="col">
        <ul class="topbar-menu">
          <li>
            <a href="">
              <i class="left-menu-icon fa fa-home"></i>
              <span class="text">Home</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="left-menu-icon fa fa-bell-o"></i>
              <span class="text">Notifications</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="left-menu-icon fa fa-envelope-o"></i>
              <span class="text">Messages</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-1 text-center">
        <div class="icon-container">
          <i class="fa fa-bath"></i>
        </div>
      </div>
      <div class="col">
          <ul class="topbar-menu align-right">
            <li>
              <img
                class="avatar"
                src="https://pbs.twimg.com/profile_images/844515687943061504/ZcU7pGaL_normal.jpg"
                alt="Profile and settings"
              />
            </li>
            <li>
              <button class="CTA-button">Tweet</button>
            </li>
          </ul>
      </div>
    </div>
  </div>
</nav>
