<div class="background"></div>
<div class="container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="main" [scrollSpyIndex]="{id: 'legal', selector: 'anchor'}">
				<h2 id="termsOfService" class="anchor">Terms of Service</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<p>The present Terms and Conditions of Service stipulate the terms under which the Cloudstem service is provided and define the rules for the participation of individuals or entities (User) wishing to benefit from this service.</p>

				<p>The provision of Cloudstem service is dependent on the full acceptance of these conditions, so that any User that does not agree or do not commit to the use of Cloudstem according to the present rules can not use the service.</p>

				<p>The registration and use of Cloudstem implies and requires the acceptance of these Terms and Conditions of Service by the User.</p>

				<h3 id="termsOfService-service" class="anchor">The Cloudstem service</h3>

				<p>The Cloudstem is an online service that provides to the Users a website with the aim to facilitate the dissemination of intent to sell, rent, exchange or transfer of real estate properties through a system of classified ads.</p>

				<p>User Registration in Cloudstem is totally free.</p>

				<p>The placement and provision of public announcements is free, leaving to the User the option to subscribe for extra services such as the verification or promotion of ads depending on the payment for the service, as defined in the Pricing, which forms an integral part of these Terms and Conditions of Service.</p>

				<p>Cloudstem has no access or control over properties displayed in advertisements nor engages or participates in mediating the relationship, or the actual transaction between buyer/renter and seller/owner.</p>

				<p>Cloudstem do not guarantee the quality, safety or legality of the ads and their properties, the truth or accuracy of the information presented, the ability of the owners and/or agents to fulfill any property transaction, the ability of buyers to acquire any property, nor can ensure that both parties complete any transaction.</p>

				<h3 id="termsOfService-access" class="anchor">Access to service</h3>

				<p>Cloudstem will not be involved in any capacity or in any manner, in any transaction related or not to the ads placed and made available on the website. Not beeing a mediator, Cloudstem is not responsible for any incident resulting from the lack of legal capacity of Users.</p>

				<p>The service access is allowed to all Users who meet the conditions set out in these Terms and Conditions of Service, regardless of their legal capacity.</p>

				<p>Any User can only have one account (by User type). Cloudstem may cancel any subsequent registration made by the same individual or entity, eliminating any ads and other associated data, without notice.</p>

				<p>An account on Cloudstem is personal and is not transferable. The holder is thereof solely responsible for any action taken with his account. In case of real estate companies, promoters and other companies interested in professional service use, a person responsible may be indicated and identified for the account. An account is uniquely associated with the email address provided by the User, which serves as its primary identifier element in relationship to Cloudstem.</p>

				<h3 id="termsOfService-general" class="anchor">General terms of use</h3>

				<ul>
					<li>Ads whose content somehow is not in accordance with the Guidelines explained below, under the present Terms and Conditions of Service, can be suspended or deleted.</li>

					<li>Cloudstem is not responsible for the content of advertisements, hyperlinks or sources mentioned in an ad description.</li>

					<li>Cloudstem reserves the right to remove or edit an ad placed by the User, whenever it is not in full compliance with the rules set out in these Terms and Conditions of Service.</li>

					<li>Cloudstem can delete the User, preventing from logging in and placing or answering advertisements, whenever the User has violated any of the rules contained in these Terms and Conditions of Service.</li>

					<li>Cloudstem commits to use its best efforts to operate the Site properly and flawlessly, however Cloudstem reserves the right to temporarily suspend their operations for technical reasons or other causes beyond its control.</li>

					<li>Cloudstem is not responsible for the behavior of advertisers nor for the conformity of the property with the description contained in ads placed by Users.</li>

					<li>Cloudstem is not responsible for any physical, property and moral damage, or one that occurs following a contact, visit or even a transaction, nor for any possible misconduct of the parties.</li>
				</ul>

				<h3 id="termsOfService-user" class="anchor">User responsibility</h3>

				<p>By accepting the Terms of Service, the User undertakes to:</p>

				<ul>
					<li>Provide and maintain truthful, complete and updated personal data (and/or, if applicable, the legal person);</li>

					<li>Keep confidential the data and credentials necessary to access its Cloudstem account and only use the account for each it is the owner, thus taking full responsibility for any action taken with that account, even by third parties, with or without express permission;</li>

					<li>To adopt behaviors that do not infringe the existing legal order or which prejudices in some way legally protected interests or positions;</li>

					<li>Not to place Ads depicting the sale of articles or contracting or providing illegal services or of violent, provocative, offesive, racist nature or likely to violate the privacy or rights of third parties, or ads that otherwise are not related to the transaction of a real estate property;</li>

					<li>Not to incur in abusive, provocative, defamatory, offensive, or violent behavior, or offend the sensitivity of other Users, or showing simulated or fraudulent intent, through requests for contact/visit, associated responses and other tools provided by Cloudstem for communication between Users;</li>

					<li>While advertiser, to assume full and exclusive responsibility for the accuracy of the data of the ad, as well as to have full entitlement to legally market the property.</li>
				</ul>

				<h3 id="termsOfService-guidelines" class="anchor">Guidelines for the content of ads placed</h3>

				<p>Cloudstem undertakes no obligation to verify or approve the ads placed on the site by its Users, ads may be placed online and made available automatically and without any interference or control by Cloudstem.</p>

				<p>It is the advertiser's responsability that Ads integrated into Cloudstem system meet the following basic requirements:</p>

				<ul>
					<li>It is permited only Ads alluding to a particular property associated with a transaction intention, being prohibited the placement of content related to "search for properties", "real estate brokerage", or any other purpose;</li>

					<li>Ads should be placed in the most appropriate category to the property in question;</li>

					<li>The advertised property can not find encumbered by third party rights, unless its marketing is legal and expressly authorized by the owner, through an attorney, real estate contract, or any other legal provisions applicable;</li>

					<li>It is mandatory to insert some basic characteristics of the property, including the type (if applicable) and price (including the required rent in case of renting and holiday rentals or any other situations that do not fit in the usual context for the transaction of a property);</li>

					<li>
						It is allowed to place one and only one listing per property, except when you want to promote more than one type of business (renting, selling or holiday renting) for one single property, in which case it may be placed an ad in each category applicable:
						<br>
						<br>

						<ul>
							<li>Duplication of ads by the same agent is not allowed, ie, the same property for the same purpose, can only be advertised once;</li>

							<li>It is not permitted to delete and reinsert ads systematically, since this impairs the navigability of the portal;</li>

							<li>The advertiser is not allowed to use the same listing to promote diferent properties (ie, using the ad to list the sale of an apartment for the first week and replacing it to list the sale of an house for the third week);</li>
						</ul>
					</li>

					<li>
						Notwithstanding the above, it is not allowed any advertising content that somehow violates legal rules, social welfare, rights of third parties or which contains mainly:
						<br>
						<br>

						<ul>
							<li>Vulgar or offensive content;</li>

							<li>Content that violates the rules of social etiquette;</li>

							<li>Content that promotes hatred and violence, racism, xenophobia or conflicts between nations;</li>

							<li>Dubious or false information;</li>

							<li>Viruses or any other technologies that may harm other Users or even Cloudstem as a service;</li>

							<li>Advertising services that are competitive or not with Cloudstem in particular placing means of contact (email, links/URL, telephone numbers, Facebook page) in the title, description or photos associated with the advertisement;</li>

							<li>Allusion to rents or potential benefits as well as expected spreads in the listing title (which, however, may be referred to in the relevant fields of description);</li>

							<li>Indication of the property value/pricing in the listing title (as this is already the subject of high visibility whenever the ad is displayed);</li>
						</ul>
					</li>
				</ul>

				<p>The advertiser is responsible for meeting these requirements, reserving the Cloudstem the right to suspend or delete, at any time and without notice, the ads that are inconsistent with the standards set out above.</p>

				<p>The advertiser hereby authorizes Cloudstem the unrestricted use of contents entered by the User or otherwise associated with the real estate listings (including in advertising promotions and online marketing campaigns).</p>

				<h3 id="termsOfService-notifications" class="anchor">Notifications</h3>

				<p>By registering with Cloudstem, the User consents to receive notificatons regarding changes of these Terms and Conditions of Service via the e-mail address associated with its account.</p>

				<p>The registered User may receive Cloudstem newsletters or other notifications related to the service, provided that it gives express consent for it.</p>

				<h3 id="termsOfService-ad" class="anchor">Ad Placement</h3>

				<ul>
					<li>The placement and public availability of ads is free. The User can opt for subscription of extra packages depending on the payment of the price for the service, as defined in the Pricing, which is an integral part of these Terms and Conditions of Service.</li>

					<li>The ads may remain available on Cloudstem for a maximum of three (3) months and may be renewed for the same period by the User.</li>

					<li>Not using the full period of availability of any ad for any reason, does not confer the right to the User to be refunded of any billing amount, regardless of the outcome of any business transaction related to the property.</li>

					<li>It is the User's responsability to provide the data necessary for the production of invoice/receipt (VAT number and name or legal person) in the appropriate section of the site before finishing any payments.</li>

					<li>Receipts corresponding to any payments or shipments for the provision of services by Cloudstem are generated and sent automatically as soon as the payment is recorded in the Cloudstem system.</li>

					<li>The User may at any time withdraw an active ad placed by itself. This however does not confer the right to reimbursement of any billings.</li>
				</ul>

				<h3 id="termsOfService-highlights" class="anchor">Highlights paid</h3>

				<ul>
					<li>The same rules apply to ads with paid Highlights as defined above in sections General Terms of Use and Guidelines for the content of ads placed.</li>

					<li>Any ad that does not comply with the conditions referred above or otherwise adversely affects the normal functioning of the site may be withdrawn, suspended or eliminated, regardless of having an associated Highlight, not giving the User the right to be refunded of any billings.</li>

					<li>The placement and public availability of paid ads with Highlights is dependent on the prior payment of the price for the service, as defined in the Pricing, which is an integral part of these Terms and Conditions of Service.</li>

					<li>The period in which the Highlight remains active can go from one (1) week or until the User cancel the subscription.</li>

					<li>After the period referred above ended, the User can renew the Highlights provided the payment according to the terms defined.</li>

					<li> The completion of the deal/transaction before the end of the period of availability, as defined in number 4, does not confer the User the right to be refunded of any billings paid for the Highlight.</li>

					<li>The User may at any time withdraw an active ad placed by itself. This however does not confer the right to reimbursement of any billings paid for the Highlight.</li>
				</ul>

				<h2 id="privacyPolicy" class="anchor">Privacy Policy</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<p>Reality Connect, Lda. (RC), responsible for Cloudstem, values ​​the privacy of Users of the Site and undertakes to respect it, ensuring confidentiality and data protection.</p>

				<p>Safety and privacy is assured to all Users. All data collected will be processed fairly and lawfully and will only be solicited relevant and necessary data to deliver the service.</p>

				<p>The User will have full freedom to access, rectify and remore its data for free.</p>

				<p>The collected data will be kept accurate and current.</p>

				<p>Cloudstem shall ensure the existence and operation of security mechanisms that prevent access, modification, destruction or introduction of data by anyone not authorized to do so.</p>

				<h3 id="privacyPolicy-data" class="anchor">Collection of personal data</h3>

				<p>The Cloudstem site and some of its pages can be viewed without the need to provide any personal information, however, some areas (including the insertion of ads) require the transfer of information, being necessary for the User to provide relevant personal data to make use of the service.</p>

				<p>The collection of data identifying the User will be accomplished by completing an online registration form and according to the strictest safety regulations, respecting the following terms:</p>

				<ul>
					<li>By registering with Cloudstem, the User provides personal data necessary for the provision of services, including name, email address and telephone number;</li>

					<li>By accepting the reception of notifications and information related to Imoglove from RC or third party partners, the User accepts to provide the necessary personal data;</li>

					<li>The collected data will be treated and processed automatically, as approved by the Comissão Nacional de Protecção de Dados (CNPD);</li>

					<li>RC ensures to registered Users the ability to access, update and rectify its personal data through a personal page or by request via email, in accordance with Portuguese Law n.º 67/98 of 26 October;</li>

					<li>The User session in Cloudstem may be recorded in order to be analyzed anonymously for statistics and site usage purposes with a view to continuous improvement of service levels and User satisfaction;</li>

					<li>Cloudstem may use third party partners to carry out advertising activities and monitoring marketing communications;</li>

					<li>Third parties, including Google, Facebook, Twitter or Linkedin, may display ads from Cloudstem on their websites;</li>

					<li>Third parties, including Google, Facebook, Twitter or Linkedin, may use cookies (such as Google Analytics and DoubleClick) used to optimize ads based on information from past visits from Users in the Cloudstem site.</li>
				</ul>

				<h3 id="privacyPolicy-other" class="anchor">Other services</h3>

				<p>Other services that require data input by Users, other than the ones describes in these Terms and Conditions of Service, are covered by our Privacy Policy and Personal Data Collection.</p>

				<h3 id="privacyPolicy-safety" class="anchor">Safety and Quality of information</h3>

				<p>Cloudstem ensures the quality and integrity of the information provided by its Users, implementing technological and organizational measures to keep information secure, accurate, current and complete.</p>

				<h3 id="privacyPolicy-sharing" class="anchor">Sharing personal information</h3>

				<p>The personal information collected is used by Cloudstem to enable the delivery of online classified ads service in order to allow communication of intentions to purchase, sell, rent, exchange or transfer of property, and issuing invoice and proof of payment when required.</p>

				<p>Personal information may be used by Cloudstem for the purpose of sharing ads and business between RC network sites and preferred partners, provided the User expressly accepts it.</p>

				<p>Cloudstem may provide personal data related to its Users accounts to regulators and other legal enforcement entities, whenever they are requested by these entities as a result of investigations into illegal, fraudulent and/or infringement of industrial or intellectual property rights.</p>

				<p>Cloudstem may also authorize the use of such information by other companies and organizations for marketing campaigns, provided that the User gives previous express consent.</p>

				<h3 id="privacyPolicy-links" class="anchor">Links</h3>

				<p>Cloudstem contains links to other sites and is not responsible for the privacy practices or content of such websites.</p>

				<h3 id="privacyPolicy-statistics" class="anchor">Statistical monitoring files</h3>

				<p>IP addresses of all connections made to Cloudstem may be recordes to perform statistical analyzes, provided that the User give its express consent.</p>

				<p>The information will be analyzed anonymously and aggregated.</p>

				<p>The analyzed information retrieved from aggregate statistical data allow us to interpret the usage patterns in order to continuously improve our services and User satisfaction levels.</p>

				<p>This data may be disclosed to third parties or made public.</p>

				<h3 id="privacyPolicy-changes" class="anchor">Changes to privacy practices</h3>

				<p>Any changes to our current privacy pratices described in these Terms and Conditions of Service will always be made available at this location.</p>

				<p>The User can contact Cloudstem at any time.</p>

				<p>In case of questions or interest in sharing opinions about this Privacy Policy, please use the following e-mail: admin(at)Cloudstem.com.</p>

				<h2 id="cookiesPolicy" class="anchor">Cookies Policy</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<h3 id="cookiesPolicy-what" class="anchor">What are cookies?</h3>

				<p>Cookies are files that have small pieces of information that is downloaded from your device when you visit a website.</p>

				<h3 id="cookiesPolicy-whatfor" class="anchor">What are the cookies for?</h3>

				<p>They help a Website to memorize information about your visit, such as your preferred language and other settings. This can facilitate your next visit and make the website more useful to you. Cookies play an important role. Without them, using the Web would be a much more frustrating experience. Cookies enhance the efficiency of navigation on websites. You've probably added an article in a shopping cart in an online store and after a few days, returning to the website, found that the article was still in your cart? This is one of the examples of the use of cookies.</p>

				<h3 id="cookiesPolicy-why" class="anchor">Why do we use cookies?</h3>

				<p>The use of cookies is common on the Internet and does not harm Users' computers. Cookies perform various functions, including assisting those responsible for the website to realize how it is used, facilitating the respective navigation, saving your preferences, and in general improving your User experience, as helping to ensure that the website shows you relevant content.</p>

				<h3 id="cookiesPolicy-whatkind" class="anchor">What kind of cookies do we use?</h3>

				<p>Cloudstem uses the following types of cookies: Permanent cookies - are cookies that are stored on your browser (PC, mobile and tablet) and are used whenever you make a new visit to one of our websites. Session cookies - these are temporary cookies that remain in the cookie file of your browser until you leave the website. The information obtained from these cookies is used to analyze traffic patterns on the Web, allowing us to identify problems and provide a better browsing experience.</p>

				<p>Cookies are also used from our partners including Google, Facebook, Twitter or Linkedin for similar purposes such as to store User session information regarding services provided by these partners.</p>

				<h2 id="sla" class="anchor">Service Level Agreement</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<p>This Service Level Agreement (“SLA”) is a policy governing the use of Cloudstem under the terms of the Cloudstem Terms of Service (the “Cloudstem Agreement”) between Cloudstem, LLC (“Cloudstem”, “us” or “we”) and users of Cloudstem's services (“you”). This SLA applies separately to each account using Cloudstem. Unless otherwise provided herein, this SLA is subject to the terms of the Cloudstem Agreement and capitalized terms will have the meaning specified in the Cloudstem Agreement. We reserve the right to change the terms of this SLA in accordance with the Cloudstem Agreement.</p>

				<h3 id="sla-commitment" class="anchor">Service Commitment</h3>

				<p>Cloudstem will use commercially reasonable efforts to make Cloudstem available with a Monthly Uptime Percentage of at least 99%, in each case during any monthly billing cycle (the “Service Commitment”). Cloudstem is considered available when the Cloudstem service is able to cache new pages and return cached pages when requested.</p>

				<h2 id="contacts" class="anchor">Contacts</h2>

				<p style="text-align: center;">Last updated: 01/09/2015</p>
				<br>

				<p>We invite you to contact us with questions or to share your opinions by sending us an e-mail to: support(at)cloudstem.io; a letter to: Rua António Saúde nº7, 1500-048 Lisboa, Portugal; or calling at: +351 916 002 675.</p>

				<br>
				<br>
				<br>
				<br>

			</div>
		</div>

		<div class="col-md-3" role="complementary">
			<scrollSpy-index-render [scrollSpyIndexRenderOptions]="{id: 'legal', spyId: 'window', topMargin: 90}" [scrollSpyAffix]="{topMargin: 70, bottomMargin: 70}" class="hidden-print hidden-xs hidden-sm"></scrollSpy-index-render>
		</div>
	</div>
</div>