<li *ngIf="auth.getCurrentUserId()" class="nav-item dropdown" dropdown>
  <a class="dropdown-toggle" dropdownToggle>
    <img *ngIf="auth.getCurrentUserData().photo" [ctSrc]="auth.getCurrentUserData().photo" [ctOptions]="{smart: 'face'}" ctSize="24x24">
    <i *ngIf="!auth.getCurrentUserData().photo" class="fa fa-user fa-lg"></i>
  </a>

  <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
    <li role="menuitem">
      <div class="dropdown-header">
        {{'Signed in as' | translate}}
        <br>
        <strong>{{auth.getCurrentUserData().name}}</strong>
      </div>
    </li>

    <li class="divider dropdown-divider"></li>

    <li role="menuitem">
      <a class="dropdown-item" routerLink="/{{auth.getCurrentUserId()}}">{{'Your profile' | translate}}</a>
    </li>

    <!--<li><a ng-href="/apps"><i class="fa fa-th-large"></i> <span translate>Dashboard</span></a></li>
    <li ng-if="currentUser.applications" class="divider"></li>
    <li ng-repeat="application in currentUser.applications">
      <a ui-sref="apps.app.tasks.home({app: application.id})" ng-class="{active: application.id == currentApplication.id}">{{application.name}}</a>
    </li>-->

    <li class="divider dropdown-divider"></li>
    
    <li role="menuitem">
      <a class="dropdown-item" [routerLink]="['/settings']">{{'Settings' | translate}}</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="logout()">{{'Sign out' | translate}}</a>
    </li>
  </ul>
</li>