<div *ngIf="(alert$ | async)?.success" class="alert alert-success" role="alert">
	<div class="container">
		{{(alert$ | async)?.success}}

		<button class="flash-close pull-right" type="button" aria-label="Dismiss this message" (click)="close()">
	    <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
	  </button>
	</div>
</div>
<div *ngIf="(alert$ | async)?.info" class="alert alert-info" role="alert">
	<div class="container">
		{{(alert$ | async)?.info}}
		
		<button class="flash-close pull-right" type="button" aria-label="Dismiss this message" (click)="close()">
	    <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
	  </button>
	</div>
</div>
<div *ngIf="(alert$ | async)?.warning" class="alert alert-warning" role="alert">
	<div class="container">
		{{(alert$ | async)?.warning}}

		<button class="flash-close pull-right" type="button" aria-label="Dismiss this message" (click)="close()">
	    <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
	  </button>
	</div>
</div>
<div *ngIf="(alert$ | async)?.error" class="alert alert-danger" role="alert">
	<div class="container">
		{{(alert$ | async)?.error}}

		<button class="flash-close pull-right" type="button" aria-label="Dismiss this message" (click)="close()">
	    <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
	  </button>
	</div>
</div>